
<div id="dlgLogin">
    <h1>Log in</h1>
    <label><b>Username:</b> </label>
    @Html.TextBox("username")
    <label><b>Password:</b> </label>
    @Html.TextBox("password")
</div>
<script type="text/javascript">
   

</script>