@model IEnumerable<BloggyBlues.Models.Post>

@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Index</h2>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { id="createButton", @class="button tiny"})
    <br />
    <br />
</div>

@Html.Partial("_PostPartial")